---
layout: layout.liquid
title: 11ty Boilerplate
---

<div
    x-data="{ cartItem:  null }"
    x-init="cartItem = await (await fetch('https://dummyjson.com/carts/1')).json()"
>
    <span x-text="JSON.stringify(cartItem)"></span>
    <span x-text="JSON.stringify(cartItem)"></span>
    <img x-bind:src="cartItem.products[0].thumbnail" alt="Product Image" />
</div>