---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="font-bold text-xl text-center text-sky-500">Crazy Connor's Anything and Everything Resale!</h1>

<div
    x-data="{ cartItem:  null }"
    x-init="cartItem = await (await fetch('https://dummyjson.com/carts/1')).json()"
    class="flex flex-row items-center  bg-emerald-950"
>
    {% comment %} <span x-text="JSON.stringify(cartItem)"></span> {% endcomment %}
    <template x-for="product in cartItem.products">
        <section class="card bg-white rounded-lg shadow-lg p-4 m-4 text-center w-md">
            <div class="font-bold text-sm" x-text="product.title"></div>
            <div class="text-sm" x-text="'$' + product.price"></div>
            <img x-bind:src="product.thumbnail" alt="product.title" class="border-4 border-gray-500 rounded-lg">
        </section>

    </template>
</div>

<div
    x-data="{ cartItem:  null }"
    x-init="cartItem = await (await fetch('https://dummyjson.com/products/3')).json()"
    class="flex flex-row items-center bg-emerald-950 justify-between">

    <template x-for="review in cartItem.reviews">
        <section class="card bg-white rounded-lg shadow-lg p-4 m-4 text-center w-md text-gray-800">
            <div class="font-bold " x-text="review.comment"></div> 
            <div class="text-sm" x-text="review.reviewerName"></div>
        </section>
    </template>
</div>