---
layout: layout.liquid
title: 11ty Boilerplate
---
<section class="text-emerald-500 p-5 text-center text-xl">
    <p>In this project, I used both </p>
    <p>This is the writeup</p>
    <p>This is the writeup</p>
</section>

<p class="text-center text-emerald-500"><a href="/">Go back</a></p>
